parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/*
        - tests/Support/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true

includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
